@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>@ViewData["Title"] - INTRANET SSP</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/components.css" />
	

	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />



</head>



<body class="bg-light d-flex flex-column min-vh-100">

	<header>

		<nav class="navbar navbar-expand-sm border-bottom">
		
			<div class="container-fluid px-4">



				<a class="navbar-brand d-flex align-items-center gap-2" asp-controller="Proceso" asp-action="Inicio">
					<img src="~/img/logo/Veracruz2026.png" alt="Logo Veracruz" height="40" style="pointer-events: none;" />
				</a>
				

				<li class="nav-item">
					<a class="nav-link text-dark" asp-area="Inicio" asp-controller="Menu" asp-action="Index">
						<i class="bi bi-house-door-fill me-1"></i> Inicio
					</a>
				</li>

				


				<ul class="navbar-nav me-auto">
					
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-dark" href="#"
							   id="registerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fas fa-user-plus me-2"></i>
							<i class="bi bi-telephone-fill"></i> Directorio tel.
						</a>

						<ul class="dropdown-menu" aria-labelledby="registerDropdown">

							<li>
								<a class="dropdown-item" asp-area="Inicio" asp-controller="Directorio" asp-action="Index">
									<i class="bi bi-card-checklist"></i> Directorio
								</a>
							</li>

							<li>
								<a class="dropdown-item" asp-area="Inicio" asp-controller="Directorio" asp-action="Index">
									<i class="bi bi-gear"></i> Admon. directorio
								</a>
							</li>
							
						</ul>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-dark" href="#"
							   id="registerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fas fa-user-plus me-2"></i>
							<i class="bi bi-people-fill"></i> Usuarios
						</a>

						<ul class="dropdown-menu" aria-labelledby="registerDropdown">
							<li>
								<a class="dropdown-item" asp-area="Account" asp-controller="Account" asp-action="Register">
									<i class="bi bi-person-plus-fill"></i> Registrar Usuario
								</a>
							</li>
							<li>
									
																			

								<a class="dropdown-item" asp-area="Admin" asp-controller="Admin" asp-action="MostrarUsuarios">
									<i class="bi bi-gear"></i> Administrador de Usuarios
								</a>


							</li>
						</ul>
					</li>



					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-dark" href="#"
							   id="registerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fas fa-user-plus me-2"></i>
							<i class="bi bi-award-fill"></i> CALEA
						</a>

						<ul class="dropdown-menu" aria-labelledby="registerDropdown">
							<li>
								<a class="dropdown-item" asp-area="Calea" asp-controller="Calea" asp-action="Index">
									<i class="bi bi-card-checklist"></i> Directivas
								</a>
							</li>
							<li>
								<a class="dropdown-item" asp-area="Calea" asp-controller="AdminDirectivas" asp-action="Index">
									<i class="bi bi-gear"></i> Admon. directivas
								</a>

							</li>
						</ul>
					</li>


					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-dark" href="#"
							   id="registerDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fas fa-user-plus me-2"></i>
							<i class="bi bi-people-fill"></i> Formatos
						</a>

						<ul class="dropdown-menu" aria-labelledby="registerDropdown">
							@* <li>
								<a class="dropdown-item" asp-area="Account" asp-controller="Account" asp-action="Register">
									<i class="bi bi-person-plus-fill"></i> Registrar Usuario
								</a>
							</li> *@
							
							<li>
								<a class="dropdown-item" asp-area="Tecnologias" asp-controller="AdminFormatos" asp-action="Index">
									<i class="bi bi-gear"></i> Admon. Formatos
								</a>
							</li>
						</ul>
					</li>



							





				</ul>


				<li class="nav-item">
					<form id="logoutForm" asp-area="Account" asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
						<a href="javascript:document.getElementById('logoutForm').submit();" class="nav-link text-dark">
							<i class="bi bi-box-arrow-left"></i> Salir
						</a>
					</form>
				</li>


			
			</div>

			


		</nav>

	</header>


	@RenderBody()
	

	@* <footer class="border-top footer text-muted py-3 mt-auto">
		<div class="container px-4 mx-auto d-flex align-items-center justify-content-center gap-3 flex-wrap text-center" style="max-width: 1200px;">
			<img src="~/img/logo/FooterLogo.png" alt="Logo Veracruz" style="height: 150px;">
				<span>
					Sitio desarrollado por la Dirección de Tecnologías de la Información de la Secretaría de Seguridad Pública. <br>
					Algunos derechos reservados a favor del Gobierno del Estado de Veracruz © @DateTime.Now.Year
				</span>
			</div>
		</footer> *@

	

	<footer class="border-top footer text-muted py-3 mt-auto">
		<div class="container px-4 mx-auto d-flex align-items-center justify-content-center gap-3 flex-wrap text-center" style="max-width: 1200px;">
			<img src="~/img/logo/FooterLogo.png" alt="Logo Veracruz" style="height: 100px;">
				<span>
					Sitio desarrollado por la Dirección de Tecnologías de la Información de la Secretaría de Seguridad Pública. <br>
					Algunos derechos reservados a favor del Gobierno del Estado de Veracruz © @DateTime.Now.Year
				</span>
			</div>
		</footer>


		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/site.js"></script>

		@RenderSection("Scripts", required: false)

	</body>










</html>
